/*Sources:https://www.youtube.com/watch?v=oLgtucwjVII
Sources:Duckett, Jon. HTML and CSS: Design and Build Websites. Wiley &amp; Sons, 2011.*/  
body { 
  background: grey;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
}
li {
    float: left;
  }  
   
li a {
    display: block;
    color:white;
    text-align: center;
    padding:12px 16px;
    text-decoration: none;
  }

li a:hover {
    background-color: black;
  }
  

table, td, th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
  Overflow: Hidden;
}

.image {
  float: right;
}
.wrap1 {
  padding-right: 24%;
}

.imgk2 {
  float: right;
  width: 25% ;
}
.wrap2 {
  padding-left: 54%;
}
.newspaper {
  column-count: 2;
}


.footer {
	background-color: black;	
    padding: 10px; 
    color: white;
    text-align: center;
    margin-top: 90px;
 }
 

  
